  .navbar {
      margin-bottom: 0;
      border-radius: 0;
      background-color:   pink;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 700px;
    }
    
   
    footer {
      background-color:   pink;
      color: white;
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;} 
    }

      #imgLogo {
        max-width: 50px;
        max-height: 50px;
      }
      #centerSection {
        height: 700px;
        overflow-y: scroll;
      }

      #postInput{
        margin-top: 20px;
        margin-bottom: 10px;
      }

      .btn:hover{
        background-color:   pink;
      }

      h4 {
        text-align: center;
        font-size: 22pt;
        color: white;
        font-weight: bold;
      }

      .workSpace {
        text-align:center;
      }