<!DOCTYPE html>
<html lang="en">
<head>
  <title>NFB+ Manager Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet"  href="managerPageCss.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script>

  <script src="managerApp.js"></script>
</head>

<body ng-app="managerApp" ng-controller="mngrCtrl">


    <script type = "text/ng-template" id="adList.html">
      <!-- Modal content-->
      <div class="modal-content" ng-controller = "adListCtrl">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()">&times;</button>
          <h2 class="modal-title">Advertisement List</h2>
        </div>
        <div class="modal-body">
        <table class="table table-hover">
        <thead>
        <tr>
        <th> Company </th> 
        <th> Advertisement Id </th>
        <th> Item Type </th>
        <th> Item Name </th>
        <th> Content </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ad in ads">
        <td> {{ad.Company}} </td>
        <td> {{ad.AdvertisementID}} </td>
        <td> {{ad.Type}} </td>
        <td> {{ad.ItemName}} </td>
        <td> {{ad.Content}} </td>
        </tr>

        </tbody>
        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        </div>
    </script>

    <script type = "text/ng-template" id="manageEmp.html">
      <!-- Modal content-->
      <div class="modal-content" ng-controller = "empCtrl">
        <div class="modal-header">
          <button type="button" class="close" ng-click="closeemp()">&times;</button>
          <h2 class="modal-title">Employee List</h2>
        </div>
        <div class="modal-body">
        <button type="button" class="btn pull-right" ng-click="addEmp()"> Add </button>
        <table class="table table-hover">
        <thead>
        <tr>
        <th> SSN </th> 
        <th> User ID </th>
        <th> HourlyRate </th>
        <th> </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="emp in emps">
        <td> {{emp.SSN}} </td>
        <td> {{emp.UserID}} </td>
        <td> {{emp.HourlyRate}} </td>
        <td> 
        <button type="button" class="btn btn-default" ng-click="editEmp('lg',emp)">Edit</button> 
        <button type="button" class="btn btn-default" ng-click="deleteEmp(emp)">Delete</button> 
        </td>
        </tr>
        </tbody>
        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="closeemp()">Close</button>
        </div>
    </script>
    <script type = "text/ng-template" id="companyAdList.html">
      <!-- Modal content-->
      <div class="modal-content" ng-controller = "companyAdCtrl">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()">&times;</button>
          <h2 class="modal-title">Company Ad List</h2>
        <div class="row-fluid">
          <input style="max-width: 300px" style="display:inline" type="text" class="form-control" placeholder="Company Name"ng-model ="companyName">
          <button id='like' style="display:inline" class="btn btn-default btn-primary" style="float:right" style="margin-top: 10px" ng-click="getCompanyAds()" >
          Search</button> 
      </div>

        </div>
        <div class="modal-body">
        <table class="table table-hover">
        <thead>
        <tr>
        <th> Company </th> 
        <th> Item Type </th>
        <th> Item Name </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ad in companyAds">
        <td> {{ad.Company}} </td>
        <td> {{ad.Type}} </td>
        <td> {{ad.ItemName}} </td>
        </tr>
        </tbody>
        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        </div>
    </script>

      <script type = "text/ng-template" id="custItemList.html">
      <!-- Modal content-->
      <div class="modal-content" ng-controller = "custItemCtrl">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()">&times;</button>
          <h2 class="modal-title">Search by Item</h2>
        <div class="row-fluid">
          <input style="max-width: 300px" style="display:inline" type="text" class="form-control" placeholder="Ad Id/Item Id"ng-model ="itemName">
          <button id='like' style="margin-top: 10px"style="display:inline" class="btn btn-default btn-primary" style="float:right" style="margin-top: 10px" ng-click="getCustItem()" >
          Search</button> 
      </div>

        </div>
        <div class="modal-body">
        <table class="table table-hover">
        <thead>
        <tr>
        <th> UserID </th> 
        <th> First Name </th>
        <th> Last Name </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ad in companyAds">
        <td> {{ad.UserID}} </td>
        <td> {{ad.FirstName}} </td>
        <td> {{ad.LastName}} </td>
        </tr>
        </tbody>
        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        </div>
    </script>

       <script type = "text/ng-template" id="mvCust.html">
      <!-- Modal content-->
      <div class="modal-content" ng-controller = "mvCustCtrl">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()">&times;</button>
          <h2 class="modal-title" >Most Valuable Customer  </h2>
        </div>
        <h3 ng-model="mvCustName"> Customer Id : {{ mvCustName.UserID }}   Total: {{ mvCustName.TOTAL }} </h3>
        <div class="modal-footer">
        
          <button type="button" class="btn btn-default" ng-click="close()">Close</button>

        </div>
    </script>

       <script type = "text/ng-template" id="getSale.html">
      <!-- Modal content-->
      <div class="modal-content" ng-controller = "getSaleCtrl">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()">&times;</button>
          <h2 class="modal-title" >Sales summary </h2><hr></hr>
      <button type="button" class="btn btn-info" ng-click="show('1')">By Item</button>
      <button type="button" class="btn btn-info" ng-click="show('2')">By Item Type</button>
      <button type="button" class="btn btn-info" ng-click="show('3')">By Customer</button>

            <form class="form-adCreate" name = "ad-form"ng-hide = "hideItem">
      <label for="CompanyName"> Item Number </label>
       <input class="form-control" placeholder="Advertisement ID" required ng-model = "AdvertisementID">
           <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="getByItem()">Get! 
      </button>
      </form>

            <form class="form-adCreate" name = "ad-form"ng-hide = "hideType">
      <label for="CompanyName"> Item Type </label>
       <input class="form-control" placeholder="Item Type" required ng-model = "Type">
           <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="getByType()">Get! 
      </button>
      </form>

            <form class="form-adCreate" name = "ad-form"ng-hide = "hideCustomer">
      <label for="CompanyName"> Customer ID </label>
       <input class="form-control" placeholder="Customer ID" required ng-model = "AccountNumber">
           <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="getByAcc()">Get! 
      </button>
      </form>

        </div>
      <div class ="modal-header" ng-hide = "hideItem">

            <table class="table table-hover">
          <th style="text-align: center" style="margin-top:10px"> Item ID</th>

          <th style="text-align: center" style="margin-top:10px"> Item Name</th>
          <th style="text-align: center" style="margin-top:10px"> Revenue </th>
          <tr ng-repeat="item in items">
            <td style="text-align: center">{{item.AdvertisementID}}</td>

            <td style="text-align: center">{{item.ItemName}}</td>
            <td style="text-align: center">{{item.REV}}</td>
          </tr>
          


    </table>
      </div>

            <div class ="modal-header" ng-hide = "hideType">

            <table class="table table-hover">
          <th style="text-align: center" style="margin-top:10px"> Item Type</th>

          <th style="text-align: center" style="margin-top:10px"> Revenue </th>
          <tr ng-repeat="item in items">

            <td style="text-align: center">{{item.Type}}</td>
            <td style="text-align: center">{{item.REV}}</td>
          </tr>
          


    </table>
      </div>

            <div class ="modal-header" ng-hide = "hideCustomer">

            <table class="table table-hover">
          <th style="text-align: center" style="margin-top:10px"> Customer AccountNumber</th>

          <th style="text-align: center" style="margin-top:10px"> Revenue </th>
          <tr ng-repeat="item in items">

            <td style="text-align: center">{{item.AccountNumber}}</td>
            <td style="text-align: center">{{item.REV}}</td>
          </tr>
          


    </table>
      </div>
        <div class="modal-footer">
        
          <button type="button" class="btn btn-default" ng-click="close()">Close</button>

        </div>
    </script>
    
       <script type = "text/ng-template" id="mvEmp.html">
      <!-- Modal content-->
      <div class="modal-content" ng-controller = "mvEmpCtrl">
        <div class="modal-header">
          <button type="button" class="close" ng-click="close()">&times;</button>
          <h2 class="modal-title" >Most Valuable Employee  </h2>
        </div>
        <h3 ng-model="mvEmpName"> Employee Id : {{ mvEmpName.EmployeeID }}   Total: {{ mvEmpName.TOTAL }} </h3>
        <div class="modal-footer">
        
          <button type="button" class="btn btn-default" ng-click="close()">Close</button>

        </div>
    </script>

      <script type = "text/ng-template" id="salesReportMonth.html">
      <!-- Modal content-->
      <div class="modal-content" ng-controller = "salesReportCtrl">
         <div class="modal-header">
          <button type="button" class="close" ng-click="close()">&times;</button>
          <h2 class="modal-title">Sales  Report</h2>

          <input style="max-width: 300px" style="display:inline" type="text" class="form-control" placeholder="Month in format MM"ng-model ="startMonth">
            <input style="max-width: 300px" style="display:inline" type="text" class="form-control" placeholder="Year in format YYYY"ng-model ="startYear">

          <button id='like' style="display:inline" class="btn btn-default btn-primary" style="float:right" style="margin-top: 10px" ng-click="getSalesReport()" >
          Search</button> 

        </div>
        <div class="modal-body">
        <table class="table table-hover" >
        <thead>
        <tr>
        <th> Transaction Id </th> 
        <th> Account Number </th>
        <th> Advertisement ID </th>
        <th> Sale Time </th>
        <th> Quantity </th>
        </tr>
        </thead>
        <tbody>
  
        <tr ng-repeat="sale in sales" >
        <td> {{sale.TransactionID}} </td>
        <td> {{sale.AccountNumber}} </td>
        <td> {{sale.AdvertisementID}} </td>
        <td> {{sale.SaleTime}} </td>
        <td> {{sale.Qty}} </td>
        </tr>
        </tbody>
        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        </div>
    </script>

<script type = "text/ng-template" id="addEmp.html">
      <!-- Modal content-->
      <div class="modal-content" ng-controller = "addCtrl">
        <div class="modal-header">
          <button type="button" class="close" ng-click="closeaddemp()">&times;</button>
          <h2 class="modal-title">Employee List</h2>
        </div>
        <div class="modal-body">
        <div class="container">
  <form class="form-signin"ng-submit = "sub()">
    <h1 id="signInText">Add Employee</h1>
    <p class = "signUpInfo">{{info}}</p>
      <label for="inputEmail" class="sr-only"> User ID </label>
      <input name= "userEmail" style="max-width: 300px" type="text" id="userEmail" class="form-control" placeholder="User ID" required ng-model = "signUp.UserID">

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name = "password" style="max-width: 300px" id="inputPassword" class="form-control" placeholder="Password" required ng-model = "signUp.Password">

      <label for="inputFirstName" class="sr-only" class="inputFields">First Name</label>
      <input type="text" id="inputFirstName"  style="max-width: 300px" name= "firstname" class="form-control" placeholder="First Name" required ng-model = "signUp.FirstName">

      <label for="inputLastName"  class="sr-only" class="inputFields">Last Name</label>
      <input type="text" id="inputLastName" style="max-width: 300px" name= "lastname" class="form-control" placeholder="Last Name" required ng-model = "signUp.LastName">

      <label for="inputTelephone" class="sr-only" class="inputFields">Email</label>
      <input type="email" id="inputTelephone" style="max-width: 300px" name="phone" class="form-control" placeholder="Email Address" required ng-model = "signUp.Email">

      <label for="inputAddress" class="sr-only" class="inputFields">Preferences</label>
      <input type="text" id="inputAddress" style="max-width: 300px" name= "address" class="form-control" placeholder="Preferences" ng-model = "signUp.Preferences">

      <label for="inputEmail" class="sr-only"> Address </label>
      <input name= "userEmail" type="text" style="max-width: 300px" id="userEmail" class="form-control" placeholder="Address" required ng-model = "signUp.Address">

      <label for="inputEmail" class="sr-only"> City </label>
      <input name= "userEmail" type="text" style="max-width: 300px" id="userEmail" class="form-control" placeholder="City" required ng-model = "signUp.City">

      <label for="inputEmail" class="sr-only"> State </label>
      <input name= "userEmail" type="text" style="max-width: 300px" id="userEmail" class="form-control" placeholder="State" required ng-model = "signUp.State">

      <label for="inputEmail" class="sr-only"> Zip Code</label>
      <input name= "userEmail" type="text" style="max-width: 300px" id="userEmail" class="form-control" pattern="[0-9]*" minlength="5" maxlength="5" placeholder="Zip Code" required ng-model = "signUp.ZipCode">

      <label for="inputEmail" class="sr-only"> Telephone</label>
      <input name= "userEmail" type="text" style="max-width: 300px" id="userEmail" class="form-control" placeholder="Telephone" pattern="[0-9]*" minlength="10" maxlength="10" required ng-model = "signUp.Telephone">

      <label for="inputEmail" class="sr-only"> Credit Card Number </label>
      <input name= "userEmail" type="text" style="max-width: 300px" id="userEmail" class="form-control" pattern="[0-9]*" minlength="16" maxlength="16" placeholder="Credit Card Number" required ng-model = "signUp.CreditCard">
      <label for="ifEmployee" class="sr-only"> Fill out below if Employee </label>
        <input name="empSSN" type="password" style="max-width: 300px" style="width:100% !important;" class="form-control" id="empSSN" pattern="[0-9]*" minlength="9" maxlength="9" required placeholder="Employee SSN" ng-model = "signUp.EmpSSN"> </input>
        <h5> Start Date: </h5>
          <input name="startDate" type="date" style="max-width: 300px" style="width:100% !important;" id="startDate" ng-model="signUp.startDate" class="form-control" required placeholder="YYYY-MM-DD"> </input>
       <input class="form-control" name="hourRate" style="max-width: 300px" type="number" style="width:100% !important;" id="hourlyRate"  ng-model="signUp.hourlyRate" required placeholder="Hourly Rate"> </input>



      <br>
    <button class="btn btn-lg btn-info btn-block" style="max-width: 300px">Sign Up</button>
     </form>
    
</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="closeaddemp()">Close</button>
        </div>
    </script>

<script type = "text/ng-template" id="editEmp.html">
      <!-- Modal content-->
      <div class="modal-content" ng-controller = "editCtrl">
        <div class="modal-header">
          <button type="button" class="close" ng-click="closeeditemp()">&times;</button>
          <h2 class="modal-title">Employee List</h2>
        </div>
        <div class="modal-body">
        <div class="container">
  <form class="form-signin"ng-submit = "sub()">
    <h1 id="signInText">Edit Employee</h1>
    <p class = "signUpInfo">{{info}}</p>
      <label for="inputEmail" class="sr-only"> User ID </label>
      <h5>Social Security: {{signUp.UserID}}</h5>

      <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" name = "password" style="max-width: 300px" id="inputPassword" class="form-control" placeholder="Password" required ng-model = "signUp.Password">

      <label for="inputFirstName" class="sr-only" class="inputFields">First Name</label>
      <input type="text" id="inputFirstName"  style="max-width: 300px" name= "firstname" class="form-control" placeholder="First Name" required ng-model = "signUp.FirstName">

      <label for="inputLastName"  class="sr-only" class="inputFields">Last Name</label>
      <input type="text" id="inputLastName" style="max-width: 300px" name= "lastname" class="form-control" placeholder="Last Name" required ng-model = "signUp.LastName">

      <label for="inputTelephone" class="sr-only" class="inputFields">Email</label>
      <input type="email" id="inputTelephone" style="max-width: 300px" name="phone" class="form-control" placeholder="Email Address" required ng-model = "signUp.Email">

      <label for="inputAddress" class="sr-only" class="inputFields">Preferences</label>
      <input type="text" id="inputAddress" style="max-width: 300px" name= "address" class="form-control" placeholder="Preferences" ng-model = "signUp.Preferences">

      <label for="inputEmail" class="sr-only"> Address </label>
      <input name= "userEmail" type="text" style="max-width: 300px" id="userEmail" class="form-control" placeholder="Address" required ng-model = "signUp.Address">

      <label for="inputEmail" class="sr-only"> City </label>
      <input name= "userEmail" type="text" style="max-width: 300px" id="userEmail" class="form-control" placeholder="City" required ng-model = "signUp.City">

      <label for="inputEmail" class="sr-only"> State </label>
      <input name= "userEmail" type="text" style="max-width: 300px" id="userEmail" class="form-control" placeholder="State" required ng-model = "signUp.State">

      <label for="inputEmail" class="sr-only"> Zip Code</label>
      <input name= "userEmail" type="text" style="max-width: 300px" id="userEmail" class="form-control" pattern="[0-9]*" minlength="5" maxlength="5" placeholder="Zip Code" required ng-model = "signUp.ZipCode">

      <label for="inputEmail" class="sr-only"> Telephone</label>
      <input name= "userEmail" type="text" style="max-width: 300px" id="userEmail" class="form-control" pattern="[0-9]*" minlength="10" maxlength="10" placeholder="Telephone" required ng-model = "signUp.Telephone">

      <label for="inputEmail" class="sr-only"> Credit Card Number </label>
      <input name= "userEmail" type="text" style="max-width: 300px" id="userEmail" class="form-control" pattern="[0-9]*" minlength="16" maxlength="16" placeholder="Credit Card Number" required ng-model = "signUp.CreditCard">
      <label for="ifEmployee" class="sr-only"> Fill out below if Employee </label>
        <h5>Social Security: {{signUp.EmpSSN}}</h5>
        <h5> Start Date: </h5>
          <input name="startDate" type="date" style="max-width: 300px" style="width:100% !important;" id="startDate" ng-model="signUp.startDate" class="form-control" required placeholder="YYYY-MM-DD"> </input>
       <input class="form-control" name="hourRate" style="max-width: 300px" type="number" style="width:100% !important;" id="hourlyRate"  ng-model="signUp.hourlyRate"placeholder="Hourly Rate"> </input>



      <br>
    <button class="btn btn-lg btn-info btn-block" style="max-width: 300px">Edit</button>
     </form>
    
</div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="closeeditemp()">Close</button>
        </div>
    </script>

        <script type = "text/ng-template" id="salesByOptions.html">
      <!-- Modal content-->
      <div class="modal-content" ng-controller = "salesListCtrl">
         <div class="modal-header">
          <button type="button" class="close" ng-click="close()">&times;</button>
          <h2 class="modal-title">Sales  Report</h2>

          <input style="max-width: 300px" style="display:inline" type="text" class="form-control" placeholder="Item Name"ng-model ="searchItem">

          <button id='like' style="display:inline" class="btn btn-default btn-primary" style="float:right" style="margin-top: 10px" ng-click="getSalesByItem()" >
          Search by Item</button>

    <input style="max-width: 300px" style="display:inline" type="text" class="form-control" placeholder="UserName"ng-model ="searchName">

          <button id='like' style="display:inline" class="btn btn-default btn-primary" style="float:right" style="margin-top: 10px" ng-click="getSalesByName()" >
          Search by Name</button> 

        </div>
        <div class="modal-body">
        <table class="table table-hover" >
        <thead>
        <tr>
        <th> Transaction Id </th> 
        <th> Account Number </th>
        <th> Advertisement ID </th>
        <th> Sale Time </th>
        <th> Quantity </th>
        </tr>
        </thead>
        <tbody>
  
        <tr ng-repeat="item in items" >
        <td> {{item.TransactionID}} </td>
        <td> {{item.AccountNumber}} </td>
        <td> {{item.AdvertisementID}} </td>
        <td> {{item.SaleTime}} </td>
        <td> {{item.Qty}} </td>
        </tr>
        </tbody>
        </table>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" ng-click="close()">Close</button>
        </div>
    </script>






<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <h4>Manager Page</h4>
    </div>
  </div>
</nav>

  
<div class="container-fluid text-center">    
  <div class="row content">
    
    <div class="col-sm-10 text-left" id="centerSection"> 
      
      <div ng-view></div>
      
      <script>
     
      </script>
    </div>
    <div class="col-sm-2 sidenav">
      <h3>Manager Name</h3>
      <button type="button" class="btn btn-info" ng-click="getEmpInfo('lg')" style="margin-bottom: 10px">Manage Employees</button>
      <button type="button" class="btn btn-info" ng-click="getAdInfo('lg')" style="margin-bottom: 10px">Advertisement Info</button>
         <button type="button" class="btn btn-info" ng-click="getSalesItemUser('lg')" style="margin-bottom: 10px">Sales By Item or User</button>

      <button type="button" class="btn btn-info" ng-click="getSale('lg')" style="margin-bottom: 10px">Sales Summary</button>
       <button type="button" class="btn btn-info" ng-click="getSalesReport('lg')" style="margin-bottom: 10px"> Sales Report by Month/Year </button>
       <button type="button" class="btn btn-info" ng-click="mostValEmp('sm')" style="margin-bottom: 10px"> Most Valuable Employee </button>
      <button type="button" class="btn btn-info" ng-click="mostValCust('sm')" style="margin-bottom: 10px"> Most Valuable Customer </button>

      <button type="button" class="btn btn-info" ng-click="getCompanyAdInfo('lg')" style="margin-bottom: 10px">Company Ad List </button>
      <button type="button" class="btn btn-info" ng-click="getCustByItem('lg')" style="margin-bottom: 10px"> Customer by Item List </button>

    </div>

  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
