<!DOCTYPE html>
<html lang="en" ng-app = "notfb" ng-controller="groupPageCtrl">
<head>
  <title>{{GroupTitle}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet"  href="mainPageCss.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

    <script src="app.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

 <link rel="stylesheet"  href="loginPage.css">

</head>
<body >

<nav class="navbar" ng-controller = "navCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img id="imgLogo" src='favicon.png'>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="links"><a href="#" style="color:white" ng-click = "home()">Home</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="color: white"ng-click="logOut()"><span class="glyphicon glyphicon-log-in" ></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

  
<div class="container-fluid text-center" >    
  <div class="row content">
    <div class="col-sm-2 sidenav">

      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>
    </div>
    <div class="col-sm-8 text-left" id="centerSection" ng-controller = "groupPostCtrl"> 
      <textarea id="postInput"class="form-control" rows="3" placeholder="Write on your Group" required ng-model="postToMake"></textarea>
     <p>{{postInfo}}</p>
       <button class = "btn btn-default pull-right" ng-click="makeGroupPost()"> Post </button> 
       <hr style="margin-top: 55px">

             <h3>News Feed Of The Group</h3>
        <ul class = "list-group" ng-repeat ="post in GroupPost">
        
                  <h5 class="list-group-item-heading"s>{{post.FirstName}} {{post.LastName}} made a post at {{post.PDate}}</h5>
        <br>
        <p class="list-group-item-text" style = "margin-left: 20px">{{post.Content}}</p><br>
        <h5> Comments: </h1><hr>
        <ul ng-repeat = "comment in post.Comment">
          <p>{{comment.FirstName}} {{comment.LastName}} said: {{comment.Content}}</p>
       
        

      <button class = "btn btn-default" style = "margin-bottom: 10px" style = "margin-right: 10px" ng-click="likeComment(comment)" > <span class="glyphicon glyphicon-thumbs-up"></span> </button>   
          <button class = "btn btn-default" style = "margin-bottom: 10px" ng-click="unlikeComment(comment)" > <span class="glyphicon glyphicon-thumbs-down"></button>  

           <button class = "btn btn-default " style ="margin-bottom: 10px" ng-show="checkOwnerComment(comment)" ng-click="editComment(comment)"> Edit Comment </button> 
         <button class = "btn btn-default "  style ="margin-bottom: 10px" ng-show="checkOwnerGComment(comment)" ng-click="deleteGComment(comment)"> Delete Comment </button>

<p class="list-group-item-text"> Likes: {{comment.LikeCounter}}</p><hr>
        </ul>

       
        <p class="list-group-item-text" style ="text-align:right"> Likes: {{post.LikeCounter}}</p>
<button class = "btn btn-default pull-right" style="margin-left: 10px" style ="margin-bottom: 10px" ng-show="checkOwnerGPost(post)" ng-click="deleteGPost(post)"> Delete </button>

<button class = "btn btn-default pull-right" style="margin-left: 10px" style ="margin-bottom: 10px" ng-show="checkOwnerPost(post)" ng-click="editPost(post,'md')"> Edit Post </button>

        <button class = "btn btn-default pull-right" style = "margin-bottom: 10px" ng-click="unlike(post)" > Unlike </button>
        <button class = "btn btn-default pull-right" style = "margin-bottom: 10px" style = "margin-right: 10px"ng-click="likePost(post)" > Like </button>

        <button class = "btn btn-default pull-right" style = "margin-right: 10px" style="margin-bottom: 10px" ng-click="makeComment(post,comm)"> Comment </button>
        <textarea id="commentInput"class="form-control" rows="1" placeholder="Write a comment" required ng-model="comm"></textarea>
        

        <hr id = "hrNewsFeed">
      </ul>

    </div>
    <script type = "text/ng-template" id="editPost.html">
    <div class ="container" ng-controller = "editPostCtrl">
    <h1 style="margin-bottom: 70px"> Edit Post </h1>
    <p>{{info}}</p>
    <textarea  class="form-control" rows="4" required ng-model="newPost.Content"> {{ newPost.Content }} </textarea>
      <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="editGroupPost()">Confirm
      </button>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()" style="margin-bottom: 100px" style="margin-top: 20px">Close
          </button>

    </div>
    </script>

            <script type = "text/ng-template" id="editComment.html">
    <div class ="container" ng-controller = "editCommentCtrl">
    <h1 style="margin-bottom: 70px"> Edit Comment </h1>
    <p>{{info}}</p>
    <textarea  class="form-control" rows="4" required ng-model="newPost.Content"> {{ newPost.Content }} </textarea>
      <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="editGroupComment()">Confirm
      </button>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()" style="margin-bottom: 100px" style="margin-top: 20px">Close
          </button>

    </div>
    </script>
    <div class="col-sm-2 sidenav">
      <p><a href="#">{{GroupTitle}}</a></p>
      <p><a href="#">members</a></p>



    <div ng-hide = "mgnHide" ng-controller="GroupMgnCtrl">

    <script type = "text/ng-template" id="addUser.html">
    <div class ="container" ng-controller = "addUserCtrl">
    <form class="form-signin" name = "signin-form">
      <h1 id="signInText">To Add a User to Group</h1>
      <p>{{info}}</P>
      <hr></hr>
      <label for="GroupName"  > User ID </label>
      <input name= "groupName" type="text" id="groupName" class="form-control" placeholder="User ID" required ng-model = "UserID">
      <hr></hr>
      <label for="GroupType" >User Info</label>
      <p>{{UserIDx}}</p>
      <p>{{UserName}}</p>
      <p>{{UserEmailx}}</p>
       <button id='like' class="btn btn-lg btn-primary btn-block" ng-click = "searchUser()">Search!</button>
      <hr></hr>


          <button id='like' class="btn btn-lg btn-primary btn-block" ng-click = "sub()" ng-disabled = "searched">Add Him!
          </button>

          

     </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()">Close!
          </button>
          <br></br><br></br>
    </div>

    </script>

    <script type = "text/ng-template" id="removeUser.html">
    <div class ="container" ng-controller = "removeUserCtrl">
    <form class="form-signin" name = "signin-form">
      <h1 id="signInText">To Remove a User from Group</h1>
      <p>{{info}}</P>
      <hr></hr>
      <label for="GroupName"  > User ID </label>
      <input name= "groupName" type="text" id="groupName" class="form-control" placeholder="User ID" required ng-model = "UserID">
      <hr></hr>
      <label for="GroupType" >User Info</label>
      <p>{{UserIDx}}</p>
      <p>{{UserName}}</p>
      <p>{{UserEmailx}}</p>
       <button id='like' class="btn btn-lg btn-primary btn-block" ng-click = "searchUser()">Search!</button>
      <hr></hr>


          <button id='like' class="btn btn-lg btn-primary btn-block" ng-click = "sub()" ng-disabled = "searched">Remove him!
          </button>

          

     </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()">Close!
          </button>
          <br></br><br></br>
    </div>

    </script>

        <script type = "text/ng-template" id="renameGroup.html">
    <div class ="container" ng-controller = "renameGroupCtrl">
    <form class="form-signin" name = "signin-form">
      <h1 id="signInText">To Rename this Group</h1>
      <p>{{info}}</P>
      <hr></hr>
      <label for="GroupName"  > New Name </label>
      <input name= "groupName" type="text" id="groupName" class="form-control" placeholder="User Email" required ng-model = "newGroupName">


      <hr></hr>


          <button id='like' class="btn btn-lg btn-primary btn-block" ng-click = "sub()">Change!
          </button>

          

     </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()">Close!
          </button>
          <br></br><br></br>
    </div>

    </script>

    </script>

        <script type = "text/ng-template" id="deleteGroup.html">
    <div class ="container" ng-controller = "deleteGroupCtrl">
    <form class="form-signin" name = "signin-form">
      <h1 id="signInText">To Delete This Group</h1>
      <p>{{info}}</P>
      <hr></hr>
      <label for="GroupName"  > Are you sure you want to delete this group? </label>
      <label for="GroupName"  > You can not undo the change once it is done!</label>



      <hr></hr>


          <button id='like' class="btn btn-lg btn-primary btn-block" ng-click = "sub()">Delete!
          </button>

          

     </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()">Close!
          </button>
          <br></br><br></br>
    </div>

    </script>

    <uib-accordion ng-click ="retriveData()">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading >
        Manage <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <div>
        <button type="button" class  ="btn btn-default" ng-click= "addUser()">Add a user</button>
        <button type="button" class  ="btn btn-default" ng-click= "removeUser()">Remove a user</button>
        <button type="button" class  ="btn btn-default" ng-click= "renameGroup()">Rename the group</button>
        <button type="button" class  ="btn btn-default" ng-click= "deleteGroup()">Delete the group</button>

        <hr></hr>
        
      </div>
    </div>
  </uib-accordion>
  </div>



    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
