<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>Login Page </title>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

    <script src="app.js"></script>


        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script>

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
 <link rel="stylesheet"  href="loginPage.css">
  <link rel="shortcut icon" href="favicon.png" />
</head>

<body ng-app ="notfb">

<nav class="navbar navbar-inverse">

<div class="navbar-header">
  <a class="navbar-brand" href="managerLogin.html">Manager Log In</a>
  </div>


<div class ="container" ng-controller = "signInCtrl">
		<form class="form-signin" name = "signin-form" ng-submit = "sub()">
			<h1 id="signInText">Please Sign in to Not FaceBook</h1>
      <p id="loginInfo">{{loginInfo}}</p>
			<label for="inputEmail" class="sr-only"> User ID </label>
			<input name= "userEmail" type="text" id="userEmail" class="form-control" placeholder="User ID" required ng-model = "signIn.UserID">

			<label for="inputPassword" class="sr-only">Password</label>
     	  	<input type="password" name = "password" id="inputPassword" class="form-control" placeholder="Password" required ng-model = "signIn.Password">
        	<button id='like' class="btn btn-lg btn-primary btn-block">Sign In
          </button>

 	   </form>
        
            
 	   		<h1 id="orText" align="center" font-size="10px"> or </h1>
        <form action="signUp.html">
          <button id ="signup" class="btn btn-lg btn-info btn-block" type="submit">Sign Up</button>
        </form>
 	   		
        <img id="imageSignIn" src="signinbg.png">
 	   		

</div>



</body>
</html>