html, body{
	height:100%;
}

.container {
	
	margin: 0 auto;
	margin-top: 120px;
	width: 400px;
}

.form-signin{
	max-width: 380px;
	vertical-align: middle;
}

#signInText{
	font-size: 25px;
}

#loginInfo{
	color: red;
}

#orText{
	font-size: 16px;
}

#like{
	background-color: pink;
	text-align: center;
}

#imageSignIn{
	position:relative;
	left: -40px;
}

.signUpInfo{
	text-align: center;
	color: red;
}