<!DOCTYPE html>
<html lang="en">
<head>
  <title>Main Page</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet"  href="mainPageCss.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
    
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

    <script src="app.js"></script>


    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script>
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

 <link rel="stylesheet"  href="loginPage.css">

</head>

<body ng-app = "notfb">

<nav class="navbar" ng-controller = "navCtrl">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <img id="imgLogo" src='favicon.png'>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="links"><a href="#" style="color:white" ng-click = "home()">Home</a></li>

        <li class="links"><a href="#" ng-click="sendAMessage()" ng-controller="messageCtrl" style="color:white"> Send a Message </a></li>
        <li class="links"><a href="#" ng-click="seeMessages()" ng-controller="messageCtrl" style="color:white"> Messages </a></li>    

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a style="color: white"ng-click="logOut()"><span class="glyphicon glyphicon-log-in" ></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
  





  <div ng-controller = "messageCtrl">    

    <script type = "text/ng-template" id="newMsg.html">
    <div class ="container" ng-controller = "sendMessageCtrl">
    <form class="form-sendMessage" name = "sendMessage">
    <h1 id="sendMessageText" style="text-align: text-left">Send a New Message</h1>
    <hr></hr>
    <input type="text" id="recipientIDText" class="form-control" placeholder="Recipient ID:"  ng-model ="recipientID" required>
    <input type="text" id="subjectIdText" class="form-control" placeholder="Subject: " ng-model ="subject" required>
    <textarea id="messageInput"class="form-control" rows="4" placeholder="Hi there!!" required ng-model="messageToSend" style="margin-top:20px"></textarea>

      <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="sendMsg()" >Send Message! 
      </button>
     </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()" style="margin-top: 10px">Close!
          </button>
          <br></br><br></br>
    </div>
    </script>

    <script type = "text/ng-template" id="allMessages.html">    
    <div class ="container" class="modal-body" ng-controller = "allMessagesCtrl">   
    <h1 id="Messages"> Messages </h1>   
    <ul class = "list-group" ng-repeat ="message in messages">    
    <h5 >{{message.SenderID}} sent you a message at {{message.SendDate}}</h5>   
        <br>    
    <h1 style="font-size:20px "> Subject: {{message.Subject}}</h1>    
    <p>{{message.Content}}</p><br>    
    <button class="btn btn-warning btn-block" ng-click="deleteMessage(message)"> Delete </button>   
    <hr>    
      </ul>   
    <button class="btn btn-primary btn-block" ng-click = "close()" style="margin-top: 10px">Close!    
    </button>   
          <br></br><br></br>    
    </div>    
    </script>
    </div>





<div class="container-fluid text-center">    
  <div class="row content">
    <div class="col-sm-2 sidenav">

      <div class="well">
        <p>ADS</p>
      </div>
      <div class="well">
        <p>ADS</p>
      </div>


    <div ng-controller = "adControl" ng-hide="isEmp">    

    <script type = "text/ng-template" id="createAd.html">
    <div class ="container" ng-controller = "createAdCtrl">
    <form class="form-adCreate" name = "ad-form">
      <h1 id="createAdText">Create a new Advertisement</h1>
      <hr></hr>
     <label for="GroupType" >Ad Type</label>
      <select placeholder="Ad Type "class="form-control" ng-model="adType.option" ng-options="t as t for t in adType.options"></select>
      <label for="CompanyName"  > Company Name </label>

      <input class="form-control" placeholder="Company Name" required ng-model = "CompanyName">
      <label for="ItemName" > Item Name </label>
      <input class="form-control" placeHolder="Item Name" required ng-model = "ItemName">
      <label for="Content"> Content </label>
      <input class="form-control" placeHolder="Content" required ng-model = "Content">
      <label for="UnitPrice"> Unit Price </label>
      <input type="number" step="0.01" min="0" class="form-control" placeHolder="???.??" required ng-model="UnitPrice">
      <label for="Quantity"> Quantity </label>
      <input type="number" min="0" class="form-control" required ng-model="Quantity">
          <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="createAd()" >Create! 
      </button>
     </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()" style="margin-top: 10px">Close!
          </button>
          <br></br><br></br>
    </div>
    </script>

    <script type="text/ng-template" id="deleteAd.html">
    <div class="container" ng-controller = "deleteAdCtrl">
    <h1> Delete an Ad </h1>
    <hr></hr>
   <label for="Ad Id"  > Advertisement ID </label>
    <select class="form-control" ng-model="adSelected" ng-change="changedValue(adSelected)" ng-options="t as t for t in ads"></select>
    <hr></hr>
    <p> {{cName}} </p>
    <p> {{Type}} </p>
    <p> {{Content}} </p>
           <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="deleteAd(adSelected)" >Delete
      </button>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()" style="margin-bottom: 100px" style="margin-top: 20px">Close!
          </button>
    </div>
    </script>

        <script type = "text/ng-template" id="addSale.html">
    <div class ="container" ng-controller = "adControl">
    <form class="form-adCreate" name = "ad-form">
      <h1 id="createAdText">Record a new transaction</h1>
      {{info}}
      <hr></hr>
      <label for="CompanyName"  > AccountNumber </label>

      <input class="form-control" placeholder="Account Number" required ng-model = "AccountNumber">
      <label for="ItemName" > Advertisement ID </label>
      <input class="form-control" placeHolder="Advertisement ID" required ng-model = "AdvertisementID">
      <label for="Content"> Quantity </label>
      <input class="form-control" placeHolder="Quantity" required ng-model = "Quantity">
          <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="recordSale()" >Create! 
      </button>
     </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()" style="margin-top: 10px">Close!
          </button>
          <br></br><br></br>
    </div>
    </script>


    <uib-accordion>
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading >
        Ad Control <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <div>
        <button type="button" class  ="btn btn-default" ng-click= "createNewAd()">Create a new ad</button>
        <button type="button" class  ="btn btn-default" ng-click= "deleteAd()">Delete an ad</button>
        <button type="button" class  ="btn btn-default" ng-click= "addSale()">Add transaction</button>
        <hr></hr>
      </div>
    </div>
  </uib-accordion>


        <script type = "text/ng-template" id="createAcc.html">
    <div class ="container" ng-controller = "CustomerCtrl">
    <form class="form-adCreate" name = "ad-form">
      <h1 id="createAdText" style="text-align: center"> Create an Account for User</h1>
    <p style="text-align: center">{{info}}</p>
      
      <hr></hr>
      <label for="CompanyName"  > AccountNumber </label>

      <input class="form-control" placeholder="Account Number" required ng-model = "AccountNumber">
      <label for="ItemName" > User ID </label>
      <input class="form-control" placeHolder="Advertisement ID" required ng-model = "UserID">
          <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="createAccount()" >Create! 
      </button>
     </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()" style="margin-top: 10px">Close!
          </button>
          <br></br><br></br>
    </div>
    </script>

    <script type = "text/ng-template" id="deleteAcc.html">
    <div class ="container" ng-controller = "CustomerCtrl">
    <form class="form-adCreate" name = "ad-form">
      <h1 id="createAdText" style="text-align: center"> delete an Account for User</h1>
    <p style="text-align: center">{{info}}</p>
      {{info}}
      <hr></hr>
      <label for="CompanyName"  > AccountNumber </label>

      <input class="form-control" placeholder="Account Number" required ng-model = "AccountNumber">

          <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="deleteAccount()" >Delete! 
      </button>
     </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()" style="margin-top: 10px">Close!
          </button>
          <br></br><br></br>
    </div>
    </script>

    <script type = "text/ng-template" id="editAcc.html">
    <div class ="container" ng-controller = "CustomerCtrl">
    <form class="form-adCreate" name = "ad-form">
      <h1 id="createAdText" style="text-align: center"> Edit Account Info</h1>
    <p style="text-align: center">{{info}}</p>
      
      <hr></hr>
      <label for="CompanyName"  > AccountNumber </label>

      <input class="form-control" placeholder="Account Number" required ng-model = "AccountNumber">

          <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="searchAccount()" >Search! 
      </button>

     </form>
      <form class="form-adCreate" name = "ad-form"ng-hide = "hidInfo">
      <label for="CompanyName"> AccountNumber1 </label>
       <input class="form-control" placeholder="Account Number" required ng-model = "newAccountNum">
             <label for="CompanyName" > UserID </label>
       <input class="form-control" placeholder="UserID" required ng-model = "newUserID">
           <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="editAccount()">Edit! 
      </button>
      </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()" style="margin-top: 10px">Close!
          </button>
          <br></br><br></br>
    </div>
    </script>

        <script type = "text/ng-template" id="getEmail.html">
    <div class = "container" ng-controller = "getEmailCtrl">
    <h1 id="createAdText" style="text-align: center"> Customer Email</h1>
    <p style="text-align: center">{{info}}</p>

    <table class="table table-hover">
          <th style="text-align: center" style="margin-top:10px"> Account number</th>
          <th style="text-align: center" style="margin-top:10px"> Email Address</th>
          <tr ng-repeat="email in emails">
            <td style="text-align: center">{{email.AccountNumber}}</td>
            <td style="text-align: center">{{email.EmailAddress}}</td>
          </tr>
          


    </table>

    </div>
    </script>
            <script type = "text/ng-template" id="getBestSell.html">
    <div class = "container" ng-controller = "getBestSellCtrl">
    <h1 id="createAdText" style="text-align: center"> Best seller</h1>
    <p style="text-align: center">{{info}}</p>

    <table class="table table-hover">
          <th style="text-align: center" style="margin-top:10px"> Advertisement ID</th>
          <th style="text-align: center" style="margin-top:10px"> Item Name</th>
          <tr ng-repeat="best in bests">
            <td style="text-align: center">{{best.AdvertisementID}}</td>
            <td style="text-align: center">{{best.ItemName}}</td>
          </tr>
          


    </table>

    </div>
    </script>


        <script type = "text/ng-template" id="getGroupC.html">
    <div class = "container" ng-controller = "getGroupCCtrl">
    <h1 style="text-align: center" id="createAdText"> Customer Groups</h1>
    <p style="text-align: center">{{info}}</p>
    <form class="form-adCreate" name = "ad-form">
      <label for="CompanyName"> AccountNumber </label>
       <input class="form-control" placeholder="Account Number" required ng-model = "AccNumber">
       <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="getAccGroup()">Search! 
      </button>
    </form>
    <table class="table table-hover">
          <th style="text-align: center" style="margin-top:10px"> Group ID</th>
          <th style="text-align: center" style="margin-top:10px"> Group Name</th>

          <tr ng-repeat="group in groups">
            <td style="text-align: center">{{group.GroupID}}</td>
            <td style="text-align: center">{{group.GroupName}}</td>

          </tr>
          


    </table>

    </div>
    </script>

            <script type = "text/ng-template" id="getAccHistory.html">
    <div class = "container" ng-controller = "getAccHistoryCtrl">
    <h1 id="createAdText" style="text-align: center"> Customer Account Historys</h1>
    <p style="text-align: center">{{info}}</p>

        <form class="form-adCreate" name = "ad-form">
      <label for="CompanyName"> User ID </label>
       <input class="form-control" placeholder="UserID" required ng-model = "UserID">
       <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="getAccountHis()">Search! 
      </button>
    </form>

    <table class="table table-hover">
          <th style="text-align: center" style="margin-top:10px"> Account Number</th>
          <th style="text-align: center" style="margin-top:10px"> Transaction ID</th>

          <th style="text-align: center" style="margin-top:10px"> Ad ID</th>
          <th style="text-align: center" style="margin-top:10px"> Quantity</th>
          <th style="text-align: center" style="margin-top:10px"> Time</th>



          <tr ng-repeat="history in historys">
            <td style="text-align: center">{{history.AccountNumber}}</td>
            <td style="text-align: center">{{history.TransactionID}}</td>
            <td style="text-align: center">{{history.AdvertisementID}}</td>
            <td style="text-align: center">{{history.Qty}}</td>
            <td style="text-align: center">{{history.SaleTime}}</td>


          </tr>
          


    </table>

    </div>
    </script>

    <script type = "text/ng-template" id="generateSuggestion.html">
    <div class = "container" ng-controller = "generateSuggestionCtrl">
    <h1 id="createAdText" style="text-align: center"> Customer Suggest List</h1>
    <p style="text-align: center">{{info}}</p>

        <form class="form-adCreate" name = "ad-form">
      <label for="CompanyName"> Account Number </label>
       <input class="form-control" placeholder="UserID" required ng-model = "AccountNumber">
       <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="generate()">Search! 
      </button>
    </form>

    <table class="table table-hover">
          <th style="text-align: center" style="margin-top:10px"> Advertisement ID</th>
          <th style="text-align: center" style="margin-top:10px"> Company</th>

          <th style="text-align: center" style="margin-top:10px"> Content</th>
          <th style="text-align: center" style="margin-top:10px"> Date Made</th>
          <th style="text-align: center" style="margin-top:10px"> Item Name</th>
          <th style="text-align: center" style="margin-top:10px"> Quantity</th>
          <th style="text-align: center" style="margin-top:10px"> Type</th>
          <th style="text-align: center" style="margin-top:10px"> Unit Price</th>




          <tr ng-repeat="suggestion in suggestions">
            <td style="text-align: center">{{suggestion.AdvertisementID}}</td>
            <td style="text-align: center">{{suggestion.Company}}</td>
            <td style="text-align: center">{{suggestion.Content}}</td>
            <td style="text-align: center">{{suggestion.DateMade}}</td>
            <td style="text-align: center">{{suggestion.ItemName}}</td>
            <td style="text-align: center">{{suggestion.Qty}}</td>
            <td style="text-align: center">{{suggestion.Type}}</td>
            <td style="text-align: center">{{suggestion.UnitPrice}}</td>



          </tr>
          


    </table>

    </div>
    </script>


    <script type = "text/ng-template" id="personalSug.html">
    <div class = "container" ng-controller = "personalSugCtrl">
    <h1 id="createAdText" style="text-align: center"> Personal Suggest List</h1>
    <p style="text-align: center">{{info}}</p>

        <form class="form-adCreate" name = "ad-form">
      <label for="CompanyName"> Account Number </label>
       <input class="form-control" placeholder="UserID" required ng-model = "AccountNumber">
       <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="generate()">Search! 
      </button>
    </form>

    <table class="table table-hover">
          <th style="text-align: center" style="margin-top:10px"> Advertisement ID</th>
          <th style="text-align: center" style="margin-top:10px"> Company</th>

          <th style="text-align: center" style="margin-top:10px"> Content</th>
          <th style="text-align: center" style="margin-top:10px"> Date Made</th>
          <th style="text-align: center" style="margin-top:10px"> Item Name</th>
          <th style="text-align: center" style="margin-top:10px"> Quantity</th>
          <th style="text-align: center" style="margin-top:10px"> Type</th>
          <th style="text-align: center" style="margin-top:10px"> Unit Price</th>




          <tr ng-repeat="suggestion in suggestions">
            <td style="text-align: center">{{suggestion.AdvertisementID}}</td>
            <td style="text-align: center">{{suggestion.Company}}</td>
            <td style="text-align: center">{{suggestion.Content}}</td>
            <td style="text-align: center">{{suggestion.DateMade}}</td>
            <td style="text-align: center">{{suggestion.ItemName}}</td>
            <td style="text-align: center">{{suggestion.Qty}}</td>
            <td style="text-align: center">{{suggestion.Type}}</td>
            <td style="text-align: center">{{suggestion.UnitPrice}}</td>



          </tr>
          


    </table>

    </div>
    </script>
      <uib-accordion>
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading >
        Customer control <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <div>
        <button type="button" class  ="btn btn-default" ng-click= "createAcc()">Create an Account</button>
        <button type="button" class  ="btn btn-default" ng-click= "deleteAcc()">Delete an Account</button>
        <button type="button" class  ="btn btn-default" ng-click= "editAcc()">Edit an Account</button>

        <hr></hr>

        <button type="button" class  ="btn btn-default" ng-click= "retriveEmail()">get Email</button>
        <button type="button" class  ="btn btn-default" ng-click= "generateSuggestion('lg')">Generate Suggestion</button>
        <button type="button" class  ="btn btn-default" ng-click= "retriveCGroup()">Get Groups</button>
        <button type="button" class  ="btn btn-default" ng-click= "retriveAccHistory()">Account History</button>
        <button type="button" class  ="btn btn-default" ng-click= "getBestSell()">Best seller</button>
        <button type="button" class  ="btn btn-default" ng-click= "generatePersonalSugg('lg')">Personalized suggestion</button>
      </div>
    </div>
  </uib-accordion>


  </div>



    </div>




    <div class="col-sm-8 text-left" id="centerSection" ng-controller="mainCtrl"> 
     <textarea id="postInput"class="form-control" rows="3" placeholder="Write on your wall" required ng-model="postToMake"></textarea>
     <p>{{postInfo}}</p>
       <button class = "btn btn-default pull-right" ng-click="makePost()"> Post </button> 
       <hr style="margin-top: 55px">

      <div>
      <h3>News Feed</h3>
        <ul class = "list-group" ng-repeat ="post in posts">
        
         <h5 class="list-group-item-heading"s>{{post.FirstName}} {{post.LastName}} made a post at {{post.PDate}}</h5>
        <br>
        <p class="list-group-item-text" style = "margin-left: 20px">{{post.Content}}</p><br>
        <h5> Comments: </h1><hr>
        <ul ng-repeat = "comment in post.Comments">
         
           <div>    
          <p class="list-group-item-text">{{comment.FirstName}} {{comment.LastName}} said: {{comment.Content}}</p>   
          <button class = "btn btn-default" style = "margin-bottom: 10px" style = "margin-right: 10px" ng-click="likeComment(comment)" > <span class="glyphicon glyphicon-thumbs-up"></span> </button>   
          <button class = "btn btn-default" style = "margin-bottom: 10px" ng-click="unlikeComment(comment)" > <span class="glyphicon glyphicon-thumbs-down"></button> 

        
        
         <button class = "btn btn-default " style ="margin-bottom: 10px" ng-show="checkOwnerComment(comment)" ng-click="editComment(comment)"> Edit Comment </button> 
         <button class = "btn btn-default "  style ="margin-bottom: 10px" ng-show="checkOwnerComment(comment)" ng-click="deleteComment(comment)"> Delete Comment </button>

<p class="list-group-item-text"> Likes: {{comment.LikeCounter}}</p><hr>
        <div>
        </ul>

         <p class="list-group-item-text" style ="text-align:right"> Likes: {{post.LikeCounter}}</p>
         <button class = "btn btn-default pull-right" style="margin-left: 10px" style ="margin-bottom: 10px" ng-show="checkOwnerPost(post)" ng-click="deletePost(post)"> Delete </button>
        
         <button class = "btn btn-default pull-right" style="margin-left: 10px" style ="margin-bottom: 10px" ng-show="checkOwnerPost(post)" ng-click="editPost(post,'md')"> Edit Post </button>

        <button class = "btn btn-default pull-right" style = "margin-left: 10px" style = "margin-bottom: 10px"  ng-click="unlike(post)" > Unlike </button>

        <button class = "btn btn-default pull-right" style = "margin-left:10px" style = "margin-bottom: 10px" ng-click="likePost(post)" > Like </button>

        <button class = "btn btn-default pull-right" style="margin-bottom: 10px" ng-click="makeComment(post,comm)"> Comment </button>
        <textarea id="commentInput"class="form-control" rows="1" placeholder="Write a comment" required ng-model="comm"></textarea>
        

        <hr id = "hrNewsFeed">
      </ul>
    </div>

    <script type = "text/ng-template" id="editPost.html">
    <div class ="container" ng-controller = "editPostCtrl">
    <h1 style="margin-bottom: 70px"> Edit Post </h1>
    <p>{{info}}</p>
    <textarea  class="form-control" rows="4" required ng-model="newPost.Content"> {{ newPost.Content }} </textarea>
      <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="editPost()">Confirm
      </button>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()" style="margin-bottom: 100px" style="margin-top: 20px">Close
          </button>

    </div>
    </script>
        <script type = "text/ng-template" id="editComment.html">
    <div class ="container" ng-controller = "editCommentCtrl">
    <h1 style="margin-bottom: 70px"> Edit Comment </h1>
    <p>{{info}}</p>
    <textarea  class="form-control" rows="4" required ng-model="newPost.Content"> {{ newPost.Content }} </textarea>
      <button id='like' class="btn btn-lg btn-primary btn-block" style="margin-top: 10px" ng-click="editComment()">Confirm
      </button>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()" style="margin-bottom: 100px" style="margin-top: 20px">Close
          </button>

    </div>
    </script>



    </div>

   




    <div class="col-sm-2 sidenav" ng-controller = "mainCtrl">
    <p><a href="#">{{Name}}</a></p>

    <div ng-controller = "FriendCtrl">

      <script type = "text/ng-template" id="AddFriend.html">
    <div class ="container" ng-controller = "FriendCtrl">
    <form class="form-signin" name = "signin-form" ng-submit = "subAddFriend()">
      <h1 id="signInText">To Find a new Friend</h1>
      <p>{{info}}</P>
      <hr></hr>
      <label for="GroupName"  > User ID </label>
      <input name= "groupName" type="text" id="groupName" class="form-control" placeholder="User ID" required ng-model = "UserID"><br>
          <button id='like' class="btn btn-lg btn-primary btn-block">Add!
          </button>

      
     </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()">Close!
          </button>
          <br></br><br></br>
    </div>
    </script>

          <script type = "text/ng-template" id="deleteFriend.html">
    <div class ="container" ng-controller = "FriendCtrl">
    <form class="form-signin" name = "signin-form" ng-submit = "subDeleteFriend()">
      <h1 id="signInText">To Delete a friend</h1>
      <p>{{info}}</P>
      <hr></hr>
      <label for="GroupName"  > User ID </label>
      <input name= "groupName" type="text" id="groupName" class="form-control" placeholder="User ID" required ng-model = "UserID"><br>
          <button id='like' class="btn btn-lg btn-primary btn-block">Delete!
          </button>

      
     </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()">Close!
          </button>
          <br></br><br></br>
    </div>
    </script>



    <uib-accordion ng-click ="retriveFriends()">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading >
        Friends <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <div>
        <button type="button" class  ="btn btn-default" ng-click= "addFriend()">Add a new Friend</button>
        <button type="button" class  ="btn btn-default" ng-click= "deleteFriend()">Delete a Friend</button>
        <table class="table table-hover">
          <th style="text-align: center" style="margin-top:10px"> Your friends </th>
          <tr ng-repeat="friend in friends">
            <td ng-click= "goToFriend($index)"> {{friend.FirstName}} {{friend.LastName}}</td>
          </tr>
          </table>
      </div>
    </div>
  </uib-accordion>
    </div>  

    <div ng-controller="GroupCtrl">

    <script type = "text/ng-template" id="createGroup.html">
    <div class ="container" ng-controller = "createGroupCtrl">
    <form class="form-signin" name = "signin-form" ng-submit = "sub()">
      <h1 id="signInText">To Create a New Group</h1>
      <p>{{info}}</P>
      <hr></hr>
      <label for="GroupName"  > Group Name </label>
      <input name= "groupName" type="text" id="groupName" class="form-control" placeholder="Group Name" required ng-model = "CreateGroup.GroupName">
      <label for="GroupType" >Group Type</label>
          <select placeholder="Group Type "class="form-control" ng-model="CreateGroup.selected" ng-options="t as t for t in groupType.options"></select>
          <button id='like' class="btn btn-lg btn-primary btn-block">Create!
          </button>

      
     </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()">Close!
          </button>
          <br></br><br></br>
    </div>
    </script>

    <script type = "text/ng-template" id="joinGroup.html">
    <div class ="container" ng-controller = "joinGroupCtrl">
    <form class="form-signin" name = "signin-form" ng-submit = "sub()">
      <h1 id="signInText">To Join a Existed Group</h1>
      <p>{{info}}</P>
      <hr></hr>
      <label for="GroupName"  > Group ID </label>
          <select class="form-control" ng-model="GroupSelected" ng-change= "selectedValue(GroupSelected)"ng-options="t as t for t in groups"></select>
          <hr></hr>
          <p>{{gname}}</p>
          <p>{{type}}</p>
          <p>{{name}}</p>
          <button id='like' class="btn btn-lg btn-primary btn-block">Join!
          </button>
     </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()">Close!
          </button>
          <br></br><br></br>
    </div>

    </script>

    <script type = "text/ng-template" id="unjoinGroup.html">
    <div class ="container" ng-controller = "unjoinGroupCtrl">
    <form class="form-signin" name = "signin-form" ng-submit = "sub()">
      <h1 id="signInText">To Unjoin a Existed Group</h1>
      <p>{{info}}</P>
      <hr></hr>
      <label for="GroupName"  > Group ID </label>
          <select class="form-control" ng-model="GroupSelected" ng-change= "selectedValue(GroupSelected)"ng-options="t as t for t in groups"></select>
          <hr></hr>
          <p>{{gname}}</p>
          <p>{{type}}</p>
          <p>{{name}}</p>
          <button id='like' class="btn btn-lg btn-primary btn-block">Unjoin!
          </button>
     </form>
          <button class="btn btn-lg btn-primary btn-block" ng-click = "close()">Close!
          </button>
          <br></br><br></br>
    </div>

    </script>

    <uib-accordion ng-click ="retriveData()">
    <div uib-accordion-group class="panel-default" is-open="status.open">
      <uib-accordion-heading >
        Groups <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': status.open, 'glyphicon-chevron-right': !status.open}"></i>
      </uib-accordion-heading>
      <div>
        <button type="button" class  ="btn btn-default" ng-click= "createGroup()">Create a new group</button>
        <button type="button" class  ="btn btn-default" ng-click= "joinGroup()">Join a new group</button>
        <button type="button" class  ="btn btn-default" ng-click= "unjoinGroup()">Unjoin a group</button>
        <hr></hr>
        <p>Your groups:
          <div>
            <ul ng-repeat="group in groups"><li ng-click = "goToGroup($index)">
              <p>
                <a>{{group.GroupName}}</a>
              </p>
            </li></ul>
          </div>
        </p>
      </div>
    </div>
  </uib-accordion>
  </div>



    </div>
  </div>
</div>

<footer class="container-fluid text-center">
  <p>Footer Text</p>
</footer>

</body>
</html>
