<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta http-equiv="x-ua-compatible" content="ie=edge">

<title>Sign Up Page</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous">
 <link rel="stylesheet"  href="loginPage.css">

 <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js"></script>

    <script src="app.js"></script>


	   <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-animate.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-sanitize.js"></script>
    <script src="https://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-2.3.0.js"></script>
</head>
<body ng-app ="notfb">

<div class="container" ng-controller = "signUpCtrl">
	<form class="form-signin"ng-submit = "sub()">
		<h1 id="signInText" align="center">Register to NotFB</h1>
		<p class = "signUpInfo">{{info}}</p>
			<label for="inputEmail" class="sr-only"> User ID </label>
			<input name= "userEmail" type="text" id="userEmail" class="form-control" placeholder="User ID" required ng-model = "signUp.UserID">

			<label for="inputPassword" class="sr-only">Password</label>
			<input type="password" name = "password" id="inputPassword" class="form-control" placeholder="Password" required ng-model = "signUp.Password">

			<label for="inputFirstName" class="sr-only" class="inputFields">First Name</label>
			<input type="text" id="inputFirstName" name= "firstname" class="form-control" placeholder="First Name" required ng-model = "signUp.FirstName">

			<label for="inputLastName" class="sr-only" class="inputFields">Last Name</label>
			<input type="text" id="inputLastName" name= "lastname" class="form-control" placeholder="Last Name" required ng-model = "signUp.LastName">

			<label for="inputTelephone" class="sr-only" class="inputFields">Email</label>
			<input type="email" id="inputTelephone" name="phone" class="form-control" placeholder="Email Address" required ng-model = "signUp.Email">

			<label for="inputAddress" class="sr-only" class="inputFields">Preferences</label>
			<input type="text" id="inputAddress" name= "address" class="form-control" placeholder="Preferences" ng-model = "signUp.Preferences">

			<label for="inputEmail" class="sr-only"> Address </label>
			<input name= "userEmail" type="text" id="userEmail" class="form-control" placeholder="Address" required ng-model = "signUp.Address">

			<label for="inputEmail" class="sr-only"> City </label>
			<input name= "userEmail" type="text" id="userEmail" class="form-control" placeholder="City" required ng-model = "signUp.City">

			<label for="inputEmail" class="sr-only"> State </label>
			<input name= "userEmail" type="text" id="userEmail" class="form-control" placeholder="State" required ng-model = "signUp.State">

			<label for="inputEmail" class="sr-only"> Zip Code</label>
			<input name= "userEmail" type="text" id="userEmail" class="form-control" placeholder="Zip Code" required ng-model = "signUp.ZipCode">

			<label for="inputEmail" class="sr-only"> Telephone</label>
			<input name= "userEmail" type="text" id="userEmail" class="form-control" placeholder="Telephone" required ng-model = "signUp.Telephone">

			<label for="inputEmail" class="sr-only"> Credit Card Number </label>
			<input name= "userEmail" type="text" id="userEmail" class="form-control" placeholder="Credit Card Number" required ng-model = "signUp.CreditCard">
			



			<br>
		<button class="btn btn-lg btn-info btn-block">Sign Up</button>
	   </form>
		
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" integrity="sha384-3ceskX3iaEnIogmQchP8opvBy3Mi7Ce34nWjpBIwVTHfGYWQS9jwHDVRnpKKHJg7" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.3.7/js/tether.min.js" integrity="sha384-XTs3FgkjiBgo8qjEjBk0tGmf3wPrWtA6coPfQDfFEY8AnYJwjalXCiosYRBIBZX8" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/js/bootstrap.min.js" integrity="sha384-BLiI7JTZm+JWlgKa0M0kGRpJbF2J8q+qreVrKBC47e3K6BW78kGLrCkeRX6I9RoK" crossorigin="anonymous"></script>
</body>
</html>